@media only screen and (max-width:700px){
	header img {
		margin-left: 10px;
		border-radius: 50%;
		height: 50px;
		margin-top: 10px;
	}
	header h1 {
		margin-left: 80px;
		margin-top: 10px;
		letter-spacing:5px;
	}
	header nav ul {
		margin-right: 0;
	}

	.jezici {
		position: absolute;
		right: 70px;
		top: 25px;
	}

.nav_mobile, .closebtn{
	display: block;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay li {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #fff;
}
.overlay a {
	font-size: 20px
}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  .nav_mobile{
  	color: #fff;
  	font-size:25px;
  	cursor:pointer;
  	float: right;
  	margin-top: 20px;
  	margin-right: 30px;
  }
.dropbtn_j {
	width: 50px;
	padding:3px 5px;
}
.dropdown-content_j {
	width: 70px;
}

 #pocetna{
 	background-position-x: 50%;
 	min-height: 350px;
 }
 #newsletter{
 	min-height: 165px;
 }

 #newsletter h2{
 	padding-left: 0px;
 	padding-right: 0px;
 	width: 100%;
 	text-align: center;
 
 }

 #newsletter form{
 	float: none;
 	position: static;
 }
#newsletter form button{
	margin: 0;
	margin-top: 10px;
	margin-bottom: 20px;
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

#kratki_opis .naslov_opisa{
	width: 100%;
	float: none;
}
.naslov_opisa h2 .i{
	font-size: 35px;
}
#kratki_opis .naslov_opisa h2{
	padding-top: 10px;
	font-size: 30px;
}
#kratki_opis .opis_opis {
	width: 100%;
	float: none;
}
#kratki_opis .opis_opis p {
	margin:auto;
}
#komplet_opremanje p {
	width: 90%;
	float: none;
	margin: auto;
}
#komplet_opremanje h2 {
	font-size: 28px;
	width: 100%;
}
#komplet_opremanje ul {
	width: 70%;
	margin: auto;
	margin-top: 20px;
	float: none;
	padding: 0;
	padding-bottom: 20px;
}
#komplet_opremanje h3 {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}
#ideal_kupovina{
	min-height: 100vh;
}
#ideal_kupovina .kupovina {
	width: 100%;
	float: none;
}
#ideal_kupovina button {
	margin-top: 40px;
}
#ideal_kupovina h2 {
	width: 95%;
	margin-top: 20px;
	margin-left: 0;
	text-align: center;	
}
#ideal_kupovina img {
	width: 100%;
	margin: 0;
	border-radius: 0;
}

#pomoc {
	margin-top: 10px;
}
#pomoc .box {
	float: none;
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
	min-height: 250px;
}

.ukloniti_mobitel{
	display: none;
}


/*o namaa*/

.godina_firma {
	float: none;
	margin-left: 0;
}
.o_nama_linija{
	float: none;
	margin: 10px 0 10px 25%;
	width: 50%;
}
.naslov_o_nama{
	height: 250px;
}
.o_nama_naslov{
	float: none;
	margin: 0;
	margin-bottom: 5px;
}
.naslov_o_nama h1{
	padding-top: 70px;
}
.godina_firma_desno {
	float: none;
}
.o_idealu_opis{
	width: 100%;
}
.o_idealu_opis h1 {
	margin-top: 20px;
}
.o_idealu_opis p {
	width: 80%;
}
.posvecenost{
	width: 100%;
}

/*Proizvodi*/

.zasebni_proizvod{
	width: 100%;
	float: none;
	margin-left: 0;
}

.zasebni_proizvod img:hover{
	 transform: scale(1);
}



#naslovna_proizvoda{
	height: 400px;
}




aside{
	display: none;
}
#main_proizvodi h1 {
	width: 90%;
	margin: auto;
	margin-top: 10px;
}

.card {
	max-width: 90%;
	margin: auto;
	float: none;
}

#main_proizvodi{
	width: 100%;
}
.prva_box{
	margin-top: 30px;
}
#main_proizvodi .kategorije_izbor{
	text-transform: uppercase;
	opacity: 0.7;
	font-weight: bold;
}
.dropbtn {
  background-color: #e8491d;
  color: white;
  padding: 16px;
  width: 90%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 30px;
  top: 0;
  left: 0px;
  width: 100%;
}

.dropdown-content {
  display: none;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 0.7;
  position: relative;
 	border: 1px solid;
 	border-radius:5px; 
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: black;
  padding:12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {display: block;}
.dropdown-content .trenutno {
	background-color: #e8491d;
	opacity: 1;
	color: #fff;
}
h2.dodati_mobitel{
	text-align: left;
	width: 90%;
	margin: auto;
	margin-bottom: 15px;
}
.newsletter_main{
	margin-top: 50px;
}
/*KONTAKT*/

#main_kontakt{
	width: 100%;
}
#main_kontakt #kontakt, #main_kontakt #forma{
	float: none;
	margin: auto;
	width: 90%;
}
#main_kontakt ul {
	width: 100%;
	padding: 0 0 20px 10px;
	float:none;
	margin: auto;
}
#main_kontakt iframe {
	width: 90%;
}
#forma form {
	margin-top: 10px;
	margin-right: 0;
	padding: 0 0 0 0px;
	margin-left: 5%;
	width: 100%;
}
#forma form input{
	margin-right: 0;
	}
#forma form textarea{
	margin-right: 0;
}
#forma form input[name="ime"]{
	width: 90%;
}
#forma form input[name="prezime"]{
	width: 90%	;
	float: none;
	margin-right: 0;
}
.dodati_mobitel {
	display: block;
}
#pomoc_k{
	margin-top: 470px;
}

/*artiKLI ZASEBNO*/

#slika_kuhinje {
	width: 100%;
	margin-top: 0;
}
#slika_kuhinje img {
	height: 250px;
	width: 100%;
	margin:0;
}
.o_kuhinji {
	width: 100%;
	float: none;
}
.o_kuhinji h2 {
	padding-left: 15px;
	padding-top: 175px;
}
.o_kuhinji h3 {
	padding-left: 15px;
}
.o_kuhinji p {
	padding-left: 15px;
}
.cijena_kuhinje {
	width: 100%;
	float: none;
	border: 0;
	min-height: unset;
}
.cijena_kuhinje h2 {
	padding-left: 15px;
	margin-top: 15px;
}
.cijena_kuhinje button {
	margin-left: 15px;
	width: 90%;
	margin-top: 10px;
}
.cijena_kuhinje form {
	width: 85%;
	margin-left: 15px;
}
.card-carousel .my-card{
	width: 270px;
}
.card-carousel .my-card img {
	width: 250px;
}
#slike_ponude{
}
#slike_ponude h2 {
	padding-left: 7%;
	width: 70%;
}

#main_narudzba h3 {
	float: none;
}
#main_narudzba .h3_podaci{
	padding-left: 5%;
}
#main_narudzba .h3_proizvod{
	padding-left: 0%;
}
#main_narudzba #forma_podaci {
	width: 90%;
}
#forma_podaci input{
	width: 90%;
}
#forma_podaci textarea{
	width: 90%;
	float: none;
	margin-left: 3%;
}
#forma_podaci input[type="submit"]{
	width: 100%;
	margin-top: 10px;
	float: none;
	margin-right: 0;
	margin-left: 1%;
}

footer{
	height: 400px;
	font-size: 15px;
	}
	footer ul {
		margin: 0;
		padding: 0;
	}
	footer img {
		width: 100px;
		height: 100px;
		left: 3%;
	}
	footer .d_mreze {
		left: 10%;
		top: 5%;
	}
	footer ul li {
		padding-left: 0;
	}
	footer ul li a{
		font-size: 21px;
	}
	footer .r_vrijeme li {
		font-size: 18	px;
	}
	footer .r_vrijeme{
		top: 40%;
		left: 5%;
	}
	footer p {
		text-align: center;
		margin-left: 10px;
		bottom: 0px;
		left: 25%;
	}
	footer .footer_pocetna{
		bottom: 20px;
		right: -10px;
		font-size: 25px;
		margin-right: 35px;
		position: fixed;
	}


}

/*engleski*/

.show_e{
	display: block;
}